<div class="form-inline">
    <div class="form-group">
        <label for="name">Player Name: </label>
        <input type="text" class="form-control" id="name" placeholder="Bob" data-ui-name>
    </div>
</div>

<div class="vertical-spacing-top">
    <button class="btn btn-primary" data-ui-buy>Purchase Ticket</button>
    <button class="btn" data-ui-draw>Draw numbers</button>
    <button class="btn" data-ui-results>Results</button>
</div>

<p class="vertical-spacing-top text-danger" data-ui-error></p>