<div class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="name">Player Name: </label>
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
            <input type="text" class="form-control" id="name" placeholder="Bob" data-ui-name>
            <span class="input-group-btn">
                <button class="btn btn-primary" data-ui-buy>Purchase Ticket</button>
            </span>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn" data-ui-draw>Draw numbers</button>
        <button class="btn" data-ui-results>Results</button>
    </div>
</div>

<p class="vertical-spacing-top text-danger text-center error-message" data-ui-error></p>