<div class="panel panel-default vertical-spacing-top">
    <div class="panel-heading">
        <h3 class="panel-title">Current Pot: <strong><span data-ui-pot></span> $</strong></h3>
    </div>
    <div class="panel-body" data-region-players></div>
</div>